#comicPageContent {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}

#comicViewer {
  cursor: grab;
  height: 500px;
  .comic-deck-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 24rem;
    .comic-deck {
      position: absolute;
      will-change: transform;
      display: flex;
      height: 400px;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 45px;

      .comic-card {
        padding: 40px;
        height: 90vw;
        width: 70vw;
        border-radius: 30px;
        background-color: white;
        will-change: transform;
        box-shadow: 0px 0 15px #333;
        text-align: center;
        // margin: 25px;

        .grab-layer {
          position: absolute;
          height: 100%;
          width: 100%;
          padding: 40px;
          top: 0;
          left: 0;
          z-index: 4;
        }
        .card-content-layer {
          position: absolute;
          z-index: 3;
          .comic-img {
            user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }
        }
      }
    }
  }
}

@media (min-width: 650px) {
  h1 {
    margin-bottom: 60px;
  }
  #comicViewer {
    .comic-deck-wrapper {
      .comic-deck {
        width: 78%;
        .comic-card {
          width: 300px;
          height: 400px;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  #comicViewer {
    .comic-deck-wrapper {
      margin-top: 130px;
      .comic-deck {
        width: 82%;
        .comic-card {
          width: 500px;
          height: 600px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #comicViewer {
    .comic-deck-wrapper {
      margin-top: 130px;
      .comic-deck {
        width: 90%;
        .comic-card {
          width: 600px;
          height: 700px;
        }
      }
    }
  }
}
